*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* shared style  */
.font-inter {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.logo img{
    width: 139px ;
    height: 60px;
    opacity: 100%;
    
}

.btn {
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 4px;

}

/* Main style  */
header{
    background-color:#c52e2e;
    /* padding-top: 34px; */
}

nav{
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
  
}

.hero-bg-img{
  background-image: url("../assets/hero-bg.png");
  width: 100%;
  height: 674px;
  background-size: cover;
  background-repeat: no-repeat;
}

section .hero-text{
    width: 1360;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 123px;
    text-align: center;

   
}
section .hero-btn-1{
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
    background-color: #FFFFFF;
    color: #30B868;
    font-weight: 500; 
}

.hero-heading {
    padding-top: 16px;
    font-weight: bolder;
}

.text-hero-green{
    color: #30B868;
}

section .hero-text p{
    padding: 32px 16px;
    font-weight: 400;
    line-height: 24px;
    
}

section .btn {
    
    width: 251px;
    height:52px ;
    gap: 10px;
    font-weight: 600;
    color:#FFFFFF;
}

section .hero-last-button{
    
    color:#FFFFFF;
    width: 198px;
    height: 52px;
    gap: 10px;
    font-weight: 600;
    
    
}