*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* shared style  */
.font-inter {
  font-family: "Playfair Display", serif;
  font-weight: <weight>;
 
}

.logo img{
    width: 139px ;
    height: 60px;
    opacity: 100%;
    
}

.btn {
    display: inline-block;          
    padding: 8px 10px;
    background-color: #2ecc71;      
    color: #FFFFFF;                 
    text-decoration: none;
    border-radius: 6px;
    border: none;
    transition: 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #27ae60;      
    color: #FFFFFF;                 
}

/* Main style  */
header{
    background-color:#ffffff;
    /* padding-top: 34px; */
}

nav{
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
  
}

.hero-bg-img{
  background-image: url("../assets/hero-bg.png");
  width: 100%;
  height: 674px;
  background-size: cover;
  background-repeat: no-repeat;
}

section .hero-text{
    width: 1360;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 123px;
    text-align: center;

   
}
section .hero-btn-1{
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
    background-color: #FFFFFF;
    color: #30B868;
    font-weight: 500; 
}

.hero-heading {
    padding-top: 16px;
    font-weight: bolder;
}

.text-hero-green{
    color: #30B868;
}

section .hero-text p{
    padding: 32px 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    
}

section .btn {
    
    width: 251px;
    height:52px ;
    gap: 10px;
    font-weight: 600;
    color:#FFFFFF;
}

section .hero-last-button{
    
    color:white ;
    width: 198px;
    height: 52px;
    gap: 10px;
    font-weight: 600;  
    border-radius: 4px ;
    border: 1px solid #FFFFFF;
    background: none;
}

.text{
    padding-top: 36px;
    width: 1360px;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    color: #001931;
    
}

.text p{
    padding-top: 16px;
    line-height: 20px;
    color: #627382;
}

.all-item .knowledge-box{
    padding-top: 44px;
    width: 1360px;
    max-width: 1600;
    margin: 0 auto;
    text-align: center;
    display: flex;
    gap: 24px
    
    
}

.knowledge-box .knowledge-card{
    padding-top: 69px;
    border-radius: 8px;
    box-shadow: -8px -8px 12px rgba(0, 0, 0, 0.078),
                8px -8px 12px rgba(0, 0, 0, 0.071);

    
    
}

.knowledge-box .knowledge-card img{
background-color: #F95555;  
border-radius: 1000%; 
width: 32px; 
height: 32px;
padding: 5px;
}

.knowledge-card h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;

}
.knowledge-card p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}


/* second brain part */
.brain{
    width: 1360px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    padding-top: 120px;
    
}

.barin-text{
    padding: 102px 0px 102px 60px ;
    justify-content: center;

}

.brani-title{
    font-size: 16px;
    font-weight: 400;
    color: #27ae60;
    padding-bottom: 36px;
}

.barin-text h2{
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 16px;
}

.barin-text-2{
    font-size: 16px;
    font-weight: 100;
    color: #627382;
    line-height: 20px;
    padding-bottom: 40px;
}

.mark {
    padding-top: 3px;

}



/* last part  */
.last-text{
    width: 1360px;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center; 
    background-color: #F7F6F2; 

}

.last-text h2{
    padding-top: 80px;
    font-weight: 700;
    
}
.last-text p{
    padding-top: 16px;
    color: #627382;
    font-weight: 400;
    padding-bottom: 24px;
}
 .last-text .btn{
    color: #FFFFFF;
    padding-top: 10px;
 }




 /* footer bar  */

 footer{
    background-color: #001931;
    
 }

 footer .footer-main{
    width: 1360px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 120px 120px 80px;
    text-align: center;

 }
  .footer-social p {
    color: #FFFFFF;
    font-weight: 400;
    padding-bottom: 2px;
    
  }

  .footer-social i{
    color: #FFFFFF;
    
  }

  .copy{
    
    text-align: center;
    color:#FFFFFF;
    padding-bottom: 30px;
  }